@using WebVueTest.Controllers;
@using Microsoft.AspNetCore.Html;
@model List<Point>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "SVG/Index";

    var filter = (Filter)ViewData[SVGController.filterKey];
    var building = filter.Building;
    var level = filter.Level;
}

<style type="text/css">
    .table td, .table th {
        padding: .15rem;
    }
</style>

<environment include="Development">
    <link rel="stylesheet" href="~/css/jquery-ui.css" />
</environment>

<h2>SVG interactive image <timer></timer></h2>
<div class="row">
    <div class="col-md-2">
        <select id="building" class="update-svg input-sm" data-path="/images">
            <option value="AK-2">AK-2</option>
        </select>
        <select id="level" class="update-svg input-sm">
            @for (int i = 1; i < 4; i++)
            {
                string sel = i == level ? "selected=selected" : "";
                <option value="@i">@i</option>
            }
        </select>
    </div>
    <div class="col-md-2">
        @{
            Func<object, object> htmlString = @<span></span>;
            var rrr = htmlString(null);
        }
        @htmlString(null)
        <select id="resume" class="update-svg input-sm">
            <option value="simple">simple</option>
            <option value="line">line</option>
        </select>
    </div>
</div>
<div class="row">
    <div class="col-md-7 hide">
        <object data="~/images/@building/@level/plan.svg" type="image/svg+xml" id="svgmap" width="700" height="420"></object>
    </div>
    <div id="tbl-points" class="col-md-4" style="max-height: 400px;overflow-y: auto;">
        <table class="table table-hover" id="tbl-points">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Title</th>
                </tr>
            </thead>
            <tbody>
                <tr v-for="(item, index) in points" class="pointer" :data-id="item.id">
                    <th scope="row">{{item.id}}</th>
                    <td>{{item.name}}</td>
                    <td>{{item.title}}</td>
                </tr>
                @*foreach (var itm in Model)
                    {
                        <tr class="row-@itm.Id pointer" data-id="@itm.Id">
                            <th scope="row">@itm.Id</th>
                            <td>@itm.Name</td>
                            <td>@itm.Title</td>
                        </tr>
                    }*@
            </tbody>
        </table>
    </div>
</div>

@section Scripts{
    @*<script src="~/js/jquery-ui.js"></script>*@
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/svg.min.js"></script>
    <script src="~/js/svg.draw.min.js"></script>
    <script type="text/javascript">
        let model = JSON.parse('@Html.Raw(Json.Serialize(Model))');

        let vue = new Vue({
            el: "#tbl-points",
            data: {
                points: model
            }
        });

        let filter = JSON.parse('@Html.Raw(Json.Serialize(filter))');
    </script>

    @*<script src="https://d3js.org/d3.v5.min.js"></script>*@
    <script src="~/js/svg-lib.js"></script>
    <script src="~/js/Pages/page.svg.index.js"></script>
}
