@using WebVueTest.Controllers;
@using MergeLib;
@model UserViewValidate
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Card №" + Model.Id.ToString();
}

@{
    string fieldCssClass = "col-md-3";
    string valueCssClass = "col-md-4";
    MemberHelper<UserViewValidate> memberHelper = new MemberHelper<UserViewValidate>();
    string divClass = "input-group mb-4";
}

<link rel="stylesheet" href="~/css/jquery.fias.min.css" />
<link rel="stylesheet" href="~/css/jquery-ui.css" />
<link rel="stylesheet" type="text/css" href="~/css/jquery-comments.css">
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

<link rel="stylesheet" href="~/css/page.merge.card.css" />

<style>
    label {
        display: block;
    }

        label.error {
            color: red;
        }

    .title-card {
        color: #af853d;
    }

    #alert-container {
        position: absolute;
        right: 60px;
    }

    .hide {
        display: none;
    }
</style>

<div id="auto-complite">
    <datalist id="auto-complite-lname">
        <option value="Иванов"></option>
        <option value="Петров"></option>
        <option value="Сидоров"></option>
        <option value="Серов"></option>
        <option value="Костюков"></option>
        <option value="Харламов"></option>
        <option value="Антонов"></option>
        <option value="Симонов"></option>
        <option value="Тарков"></option>
    </datalist>
    <datalist id="auto-complite-fname">
        <option value="Иван"></option>
        <option value="Петр"></option>
        <option value="Александр"></option>
        <option value="Андрей"></option>
        <option value="Николай"></option>
        <option value="Евгений"></option>
        <option value="Павел"></option>
        <option value="Дмитрий"></option>
        <option value="Владимир"></option>
    </datalist>
    <datalist id="auto-complite-work-place">
        <option value="МИД"></option>
        <option value="RT"></option>
        <option value="НТВ"></option>
        <option value="ГУМ"></option>
        <option value="МАИ"></option>
        <option value="МГУ"></option>
        <option value="МФТИ"></option>
        <option value="МВД"></option>
        <option value="ФСБ"></option>
    </datalist>
    <datalist id="auto-complite-work-position">
        <option value="Директор"></option>
        <option value="Преподаватель"></option>
        <option value="Режиссер"></option>
        <option value="Бухгалтер"></option>
        <option value="Руководитель"></option>
        <option value="Бармен"></option>
        <option value="Редактор"></option>
        <option value="Инженер"></option>
        <option value="Слесарь"></option>
    </datalist>
</div>

<fieldset id="user" v-cloak>
    <div id="alert-container" class="alert alert-warning alert-dismissible" role="alert">
        <div id="alert-title"></div>
        <p class="error" v-if="!$v.lastName.required">Фамилия должно быть заполнено</p>
        <p class="error" v-if="!$v.lastName.minLength">Фамилия должно содержать более 3 символов</p>
        <p class="error" v-if="!$v.firstName.required">Имя должно быть заполнено</p>
        <p class="error" v-if="!$v.firstName.minLength">Имя должно содержать более 3 символов</p>
    </div>
    <div>
        <fieldset class="hide">
            <legend>Автокомплит для городов <b>Kladr</b></legend>
            <div class="@divClass">
                <div class="input-group-prepend btn-pointer">
                    <span class="input-group-text">
                        <i class="glyphicon glyphicon-search" aria-hidden="true"></i>
                    </span>
                </div>
                <input id="search-country" type="text" class="col-md-4 form-control" placeholder="Поиск по странам" />
                <div class="input-group-append btn-pointer">
                    <span class="input-group-text btn-close" style="color:rgb(206, 15, 15)">
                        <i class="glyphicon glyphicon-remove" aria-hidden="true"></i>
                    </span>
                </div>
            </div>
            <button-counter class="btn-default"></button-counter>
        </fieldset>
        <form id="form" method="post" enctype="multipart/form-data" action="@Url.Action("Card","Merge")">

            <fieldset>
                <legend>Форма для ввода данных <b>View JS</b></legend>
                <div class="@divClass">
                    <h6>
                        Card:
                        <span class="title-card">
                            {{getFIO}}
                        </span>
                    </h6>
                </div>

                <form-tr-input id="lname" label="@Html.DisplayNameFor(x=>x.LastName)"
                               v-model="lastName"
                               autocomplite="auto-complite-lname"
                               name="@nameof(Model.LastName)">
                    <template v-slot:label>
                        <span class="error">*</span>
                    </template>
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon1">{{getLogin}}</span>
                    </div>
                </form-tr-input>

                <form-tr-input id="fname" label="@Html.DisplayNameFor(x=>x.FirstName)"
                               v-model="firstName"
                               autocomplite="auto-complite-fname"
                               name="@nameof(Model.FirstName)">
                    <template v-slot:label>
                        <span class="error">*</span>
                    </template>
                </form-tr-input>

                <form-tr-input id="mname" label="@Html.DisplayNameFor(x=>x.MiddleName)"
                               v-model="middleName"
                               name="@nameof(Model.MiddleName)">
                </form-tr-input>

                <form-tr-input id="birthDay" label="@Html.DisplayNameFor(x=>x.Birthday)"
                               v-model="birthdayStr"
                               name="@nameof(Model.Birthday)">
                    <div class="input-group-append">
                        <span class="input-group-text" id="basic-addon2">{{getAge}}</span>
                    </div>
                </form-tr-input>

                <form-tr-input id="deathDay" label="@Html.DisplayNameFor(x=>x.Death)" v-model="deathStr"
                               name="@nameof(Model.Death)">
                    <div class="input-group-append">
                        <span class="input-group-text">{{getAgeToDeath}}</span>
                    </div>
                </form-tr-input>

                <form-tr-input id="workPlace" label="@Html.DisplayNameFor(x=>x.WorkPlace)"
                               v-model="workPlace"
                               autocomplite="auto-complite-work-place"
                               name="@nameof(Model.WorkPlace)">
                </form-tr-input>

                <form-tr-input id="workPosition" label="@Html.DisplayNameFor(x=>x.WorkPosition)"
                               v-model="workPosition"
                               autocomplite="auto-complite-work-position"
                               name="@nameof(Model.WorkPosition)">
                </form-tr-input>

                <form-tr-input id="homeAddress" label="@Html.DisplayNameFor(x=>x.HomeAddress)"
                               v-model="homeAddress"
                               name="@nameof(Model.HomeAddress)">
                </form-tr-input>

                <template title="Рабочий адрес">
                    <form-tr-input id="workCountry" label="Рабоая страна" v-model="workCountry">
                        <template v-slot:label>
                            (full
                            <input type="checkbox" id="fullWorkAddress" value="Полный"
                                   v-model="workFullAddress" v-on:click="workFullAddress != workFullAddress" />)
                        </template>
                        <div class="input-group-append">
                            <span class="input-group-text">{{getWorkAddress}}</span>
                        </div>
                    </form-tr-input>

                    <form-tr-input id="workCity" label="Рабочий город"
                                   v-show="workFullAddress" v-model="workCity">
                    </form-tr-input>

                    <form-tr-input id="workAddress" label="Рабочий адрес"
                                   v-show="workFullAddress" v-model="workAddress">
                    </form-tr-input>
                </template>

                <div class="input-group mb-3">
                    <input type="submit" class="btn btn-success" value="Отправить" />
                    <input type="button" class="btn btn-primary"
                           :class="{'' : uploadFiles, 'disabled' : !uploadFiles}"
                           value="Файлы" v-on:click="uploadFiles = !uploadFiles" />
                    <input type="button" class="btn btn-info"
                           :class="{'' : comments, 'disabled' : !comments}"
                           value="Комментарии" v-on:click="comments = !comments" />
                    <input type="button" class="btn btn-light"
                           :class="{'' : validate, 'disabled' : !validate}"
                           value="Валидация" v-on:click="validate = !validate" />
                </div>

            </fieldset>
            <div v-show="uploadFiles">
                <hr />
                <fieldset>
                    <legend>Форма для <b>загрузки файлов </b></legend>
                    <form-file-upload id="upload-block" itemid="@Model.Id"
                                      action="@Url.Action("AddFile","Merge")"></form-file-upload>
                    <div id="uploaded-files" class="input-group mb-3">

                    </div>
                </fieldset>
            </div>
        </form>
        <div v-show="validate">
            <hr />
            <fieldset>
                <legend><b>Валидация формы</b></legend>
                <pre>{{ $v }}</pre>
            </fieldset>
        </div>
        <div v-show="comments">
            <hr />
            <fieldset>
                <legend>Форма для <b>добавления комментариев </b></legend>
                @Html.Partial("~/Views/Components/Comments.cshtml")
            </fieldset>
        </div>
    </div>
</fieldset>

@section FixAlert{
    <div id="fix-alert" class="fix alert-msg alert-bottom alert-right">
        <div class="relative">
            <img src="~/css/images/mail-box.png" />
            <span class="absolute block-circle alert-msg-info">{{unreadMsg}}</span>
        </div>
        <button id="new-unread-msg" class="hide block-circle" v-on:click="addUnreadMsg(1)">+</button>
        <button id="sub-unread-msg" class="hide block-circle" v-on:click="subUnreadMsg(1)">0</button>
        <button id="clr-unread-msg" class="hide block-circle" v-on:click="clrUnreadMsg">-</button>
    </div>
}

@section Scripts{
    <script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/js/jblocks.js"></script>
    <script src="~/js/Components/components.js"></script>
    <script src="~/js/Components/jquery.fias.min.js"></script>
    <script src="~/js/Components/jquery-ui.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery.textcomplete/1.8.0/jquery.textcomplete.js"></script>
    <script src="~/js/Components/observer-monitor.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="~/js/Validations/vuelidate.min.js"></script>
    <script src="~/js/Validations/validators.min.js"></script>
    <script src="~/js/Pages/page.validate.js"></script>
    <script src="~/js/Components/page.components.helper.js"></script>

    <script type="text/javascript">
        var model = JSON.parse('@Html.Raw(Json.Serialize(Model))');
    </script>
    <script src="~/js/Pages/page.merge.card.js"></script>

    <script src="~/js/signalr/dist/browser/signalr.min.js"></script>
    <script src="~/js/Components/jquery-comments.js"></script>
    <script type="text/javascript">
        var users = JSON.parse('@Html.Raw(Json.Serialize(ViewData["Users"]))');
        var comments = JSON.parse('@Html.Raw(Json.Serialize(ViewData["Comments"]))');
        var commonSignalGroup = null;
        var localSignalGroup = '@string.Format(MergeController.MergeUserHub.TemplateGroupCard, Model.Id)';
    </script>
    <script src="~/js/Pages/pages.common.alert.signalr.js"></script>
    <script src="~/js/Pages/page.comments.js"></script>
}
