@{
    Layout = "~/Views/Shared/_LayoutMain.cshtml";
}

<script src="~/js/vue/vue3.js"></script>

@RenderSection("HeadScripts", required: false)

<div ng-app="app">
    @RenderBody()
</div>


@RenderSection("FixAlert", required: false)

@RenderSection("LibScripts", required: false)
@RenderSection("Scripts", required: false)
